# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
.vscode/
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
test.cpp
ex00/app
ex01/app
ex02/app

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
